In [2]:
import seaborn as sns
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
%pylab inline
import os
from __future__ import print_function
from __future__ import division
import os, sys
# hook up all scripts
sys.path.append(os.path.abspath('../scripts')) # if notebook in folder
sys.path.append(os.path.abspath('./scripts')) #if in root
import preprocessing_time_series as pts


os.chdir(pts.working_dir() + 'Feature_releases/release_v02')

Populating the interactive namespace from numpy and matplotlib

Возьмем фичи и разложим на трансформации, чтобы выкинуть ненужные шаги

In [6]:
feat_imp = pd.concat([pd.read_csv('feat_imp_week10_xgboost_release_v02.csv', header=None).head(50), 
            pd.read_csv('feat_imp_week11_xgboost_release_v02.csv', header=None).head(50)])
feat_imp.head()

,0,1
0,Cliente_ID,8951
1,Ruta_SAK,5255
2,Producto_ID,2459
3,weight,1892
4,Log_Demanda_4last,1414

Теперь посмотрим, от каких этапов стоит избавиться

Соберем все вместе и посмотрим, какие трансформации нужны, а какие нет

In [47]:
all_features = pd.read_csv('train_MORELOS.csv', nrows=20).columns

def transformaton_types(feat_list):
    features = pd.DataFrame(feat_list, columns = ['Features'])
    features['Original'] = features['Features']
    features['LagWidth'] = features['Features'].str.extract('(\d)last', expand=True)
    features.loc[~features.LagWidth.isnull(), 'Original'] = features['Original'].str.replace('_(\d)last', '')
    features['Lag'] = features.loc[features.LagWidth.isnull(), 'Features'].str.extract('_(\d)', expand=True)
    features.loc[~features.Lag.isnull(), 'Original'] = features['Original'].str.replace('_(\d)', '')
    features['Split'] = features['Original'].apply(lambda f: f.split('_Mean_')[1] if '_Mean_' in f else np.nan)
    features['Original'] = features['Features'].apply(lambda f: f.split('_Mean_')[0])
    return features


features = transformaton_types(all_features)
features['Important'] = features.Features.isin(feat_imp[0].drop_duplicates().values).astype(int)
features

,Features,Original,LagWidth,Lag,Split,Important
0,Agencia_ID,Agencia_ID,NaN,NaN,NaN,1
1,Canal_ID,Canal_ID,NaN,NaN,NaN,1
2,Cliente_ID,Cliente_ID,NaN,NaN,NaN,1
3,Demanda_uni_equil,Demanda_uni_equil,NaN,NaN,NaN,0
4,Dev_proxima,Dev_proxima,NaN,NaN,NaN,0
5,Dev_proxima_by_uni,Dev_proxima_by_uni,NaN,NaN,NaN,0
6,Dev_uni_proxima,Dev_uni_proxima,NaN,NaN,NaN,0
7,Log_Demanda,Log_Demanda,NaN,NaN,NaN,0
8,Log_Demanda_Mean_Producto_ID_Cliente_ID_Agenci...,Log_Demanda,NaN,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
9,Log_Demanda_Mean_Producto_ID_Cliente_ID_Ruta_SAK,Log_Demanda,NaN,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
10,Log_Dev_proxima,Log_Dev_proxima,NaN,NaN,NaN,1
11,Log_Dev_uni_proxima,Log_Dev_uni_proxima,NaN,NaN,NaN,1
12,Log_Venta_hoy,Log_Venta_hoy,NaN,NaN,NaN,1
13,Log_Venta_uni_hoy,Log_Venta_uni_hoy,NaN,NaN,NaN,0
14,Log_Venta_uni_hoy_Mean_Producto_ID_Cliente_ID_...,Log_Venta_uni_hoy,NaN,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
15,Log_Venta_uni_hoy_Mean_Producto_ID_Cliente_ID_...,Log_Venta_uni_hoy,NaN,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
16,No_remains,No_remains,NaN,NaN,NaN,0
17,No_remains_Mean_Producto_ID_Cliente_ID_Agencia_ID,No_remains,NaN,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
18,No_remains_Mean_Producto_ID_Cliente_ID_Ruta_SAK,No_remains,NaN,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
19,Ordered,Ordered,NaN,NaN,NaN,0
20,Ordered_Mean_Producto_ID_Cliente_ID_Agencia_ID,Ordered,NaN,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
21,Ordered_Mean_Producto_ID_Cliente_ID_Ruta_SAK,Ordered,NaN,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
22,Producto_ID,Producto_ID,NaN,NaN,NaN,1
23,Ruta_SAK,Ruta_SAK,NaN,NaN,NaN,1
24,Semana,Semana,NaN,NaN,NaN,0
25,State,State,NaN,NaN,NaN,0
26,Town,Town,NaN,NaN,NaN,0
27,Venta_hoy,Venta_hoy,NaN,NaN,NaN,0
28,Venta_hoy_by_uni,Venta_hoy_by_uni,NaN,NaN,NaN,0
29,Venta_uni_hoy,Venta_uni_hoy,NaN,NaN,NaN,0
...,...,...,...,...,...,...
103,Log_Venta_uni_hoy_Mean_Producto_ID_Cliente_ID_...,Log_Venta_uni_hoy,3,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
104,No_remains_3last,No_remains_3last,3,NaN,NaN,0
105,No_remains_Mean_Producto_ID_Cliente_ID_Agencia...,No_remains,3,NaN,Producto_ID_Cliente_ID_Agencia_ID,1
106,No_remains_Mean_Producto_ID_Cliente_ID_Ruta_SA...,No_remains,3,NaN,Producto_ID_Cliente_ID_Ruta_SAK,1
107,Ordered_3last,Ordered_3last,3,NaN,NaN,0
108,Ordered_Mean_Producto_ID_Cliente_ID_Agencia_ID...,Ordered,3,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
109,Ordered_Mean_Producto_ID_Cliente_ID_Ruta_SAK_3...,Ordered,3,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
110,Venta_hoy_3last,Venta_hoy_3last,3,NaN,NaN,1
111,Venta_hoy_by_uni_3last,Venta_hoy_by_uni_3last,3,NaN,NaN,1
112,Venta_uni_hoy_3last,Venta_uni_hoy_3last,3,NaN,NaN,1
113,Demanda_uni_equil_4last,Demanda_uni_equil_4last,4,NaN,NaN,1
114,Dev_proxima_4last,Dev_proxima_4last,4,NaN,NaN,1
115,Dev_proxima_by_uni_4last,Dev_proxima_by_uni_4last,4,NaN,NaN,1
116,Log_Demanda_4last,Log_Demanda_4last,4,NaN,NaN,1
117,Log_Demanda_Mean_Producto_ID_Cliente_ID_Agenci...,Log_Demanda,4,NaN,Producto_ID_Cliente_ID_Agencia_ID,1
118,Log_Demanda_Mean_Producto_ID_Cliente_ID_Ruta_S...,Log_Demanda,4,NaN,Producto_ID_Cliente_ID_Ruta_SAK,1
119,Log_Dev_proxima_4last,Log_Dev_proxima_4last,4,NaN,NaN,0
120,Log_Venta_hoy_4last,Log_Venta_hoy_4last,4,NaN,NaN,0
121,Log_Venta_uni_hoy_4last,Log_Venta_uni_hoy_4last,4,NaN,NaN,0
122,Log_Venta_uni_hoy_Mean_Producto_ID_Cliente_ID_...,Log_Venta_uni_hoy,4,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
123,Log_Venta_uni_hoy_Mean_Producto_ID_Cliente_ID_...,Log_Venta_uni_hoy,4,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
124,No_remains_4last,No_remains_4last,4,NaN,NaN,0
125,No_remains_Mean_Producto_ID_Cliente_ID_Agencia...,No_remains,4,NaN,Producto_ID_Cliente_ID_Agencia_ID,1
126,No_remains_Mean_Producto_ID_Cliente_ID_Ruta_SA...,No_remains,4,NaN,Producto_ID_Cliente_ID_Ruta_SAK,1
127,Ordered_4last,Ordered_4last,4,NaN,NaN,0
128,Ordered_Mean_Producto_ID_Cliente_ID_Agencia_ID...,Ordered,4,NaN,Producto_ID_Cliente_ID_Agencia_ID,0
129,Ordered_Mean_Producto_ID_Cliente_ID_Ruta_SAK_4...,Ordered,4,NaN,Producto_ID_Cliente_ID_Ruta_SAK,0
130,Venta_hoy_4last,Venta_hoy_4last,4,NaN,NaN,1
131,Venta_hoy_by_uni_4last,Venta_hoy_by_uni_4last,4,NaN,NaN,1
132,Venta_uni_hoy_4last,Venta_uni_hoy_4last,4,NaN,NaN,1

In [48]:
pd.crosstab(features.Split, features.Important)

Important,0,1
Split,,
Producto_ID_Cliente_ID_Agencia_ID,14,10
Producto_ID_Cliente_ID_Ruta_SAK,15,9

In [49]:
originals = pd.crosstab([features.Split, features.Original], features.Important)
originals['Share'] = originals[1]/originals.sum(1)
originals = originals.sort_values(['Share', 0], ascending=[True, False])
originals

В итоге сплиты я подобрал не так уж и плохо: я и так собирался выкинуть Log_Venta_uni_hoy и Ordered

In [36]:
pd.crosstab(features.Lag, features.Important)

Important,0,1
Lag,,
1,10,10
2,10,10
3,13,7

In [37]:
pd.crosstab(features.LagWidth, features.Important)

Important,0,1
LagWidth,,
3,9,11
4,9,11

In [43]:
originals = pd.crosstab(features.Original, features.Important)
originals['Share'] = originals[1]/originals.sum(1)
originals = originals.sort_values(['Share', 0], ascending=[True, False])
originals

Important,0,1,Share
Original,,,
Log_Venta_uni_hoy,18,0,0.000000
Ordered,18,0,0.000000
Dev_uni_proxima,1,0,0.000000
Semana,1,0,0.000000
State,1,0,0.000000
Town,1,0,0.000000
Log_Dev_proxima,5,1,0.166667
Log_Venta_hoy,5,1,0.166667
No_remains,9,9,0.500000
Dev_proxima,3,3,0.500000
Dev_proxima_by_uni,3,3,0.500000
Log_Demanda,4,14,0.777778
Demanda_uni_equil,1,5,0.833333
Venta_hoy,1,5,0.833333
Venta_hoy_by_uni,1,5,0.833333
Venta_uni_hoy,1,5,0.833333
Agencia_ID,0,1,1.000000
Canal_ID,0,1,1.000000
Cliente_ID,0,1,1.000000
Log_Dev_uni_proxima,0,1,1.000000
Producto_ID,0,1,1.000000
Ruta_SAK,0,1,1.000000
brand,0,1,1.000000
pieces,0,1,1.000000
weight,0,1,1.000000

Избавлюсь от Log_Venta_uni_hoy, Ordered, Dev_uni_proxima и Town

Плюс ко всему после каждого этапа буду оставлять только нужные фичи: например, лаги считать только на переменных, по которым лаги нужны