In [1]:
import seaborn as sns
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
%pylab inline
import os
from __future__ import print_function
from __future__ import division
import os, sys
sys.path.append(os.path.abspath('../scripts'))
import preprocessing_time_series as pts


os.chdir(pts.working_dir())

Populating the interactive namespace from numpy and matplotlib

In [2]:
os.listdir('.')

['.DS_Store',
 'cliente_tabla.csv',
 'cliente_tabla.csv.zip',
 'producto_tabla.csv',
 'producto_tabla.csv.zip',
 'producto_tabla_w_clusters.csv',
 'sample_submission.csv',
 'sample_submission.csv.zip',
 'States',
 'test.csv',
 'test.csv.zip',
 'test_preprocessed.csv',
 'town_state.csv',
 'town_state.csv.zip',
 'train.csv',
 'train.csv.zip',
 'train_JALISCO_timeseries.csv',
 'train_sample.csv',
 'train_SONORA_timeseries.csv']

# Как соотносятся категории

In [3]:
df = pd.read_csv('train_sample.csv')
df.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,brand,weight,pieces,Has_choco,Has_vanilla,Has_multigrano,NombreCliente,Log_Demanda,Dev_proxima_by_uni,No_remains
0,3,1110,7,3301,15766,1238,4,39.32,0,0.0,...,BIM,140.0,2.0,0,0,0,PUESTO DE PERIODICOS LAZARO,1.609438,NaN,0
1,3,1110,7,3301,319641,1125,50,480.00,0,0.0,...,TR,255.0,10.0,0,0,0,GUADALAJARA,3.931826,NaN,0
2,3,1110,7,3301,319641,2233,23,458.62,0,0.0,...,BIM,640.0,NaN,0,0,0,GUADALAJARA,3.178054,NaN,0
3,3,1110,7,3301,819816,2233,14,279.16,0,0.0,...,BIM,640.0,NaN,0,0,0,SANATORIO ESPANOL SA,2.708050,NaN,0
4,3,1110,7,3301,1163700,31506,6,37.50,0,0.0,...,MLA,113.0,6.0,0,0,0,PUESTO DEGALLETAS,1.945910,NaN,0

In [4]:
df.columns

Index([u'Semana', u'Agencia_ID', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Producto_ID', u'Venta_uni_hoy', u'Venta_hoy', u'Dev_uni_proxima',
       u'Dev_proxima', u'Demanda_uni_equil', u'Town', u'State',
       u'NombreProducto', u'brand', u'weight', u'pieces', u'Has_choco',
       u'Has_vanilla', u'Has_multigrano', u'NombreCliente', u'Log_Demanda',
       u'Dev_proxima_by_uni', u'No_remains'],
      dtype='object')

In [13]:
from itertools import combinations
import codecs

categories = [u'Semana', u'Agencia_ID', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Producto_ID', u'Town', u'State',
       u'NombreProducto', u'brand', u'NombreCliente']

def check(cat_pair):
    uniques = df.groupby(cat_pair[0])[cat_pair[1]].nunique()
    return uniques.max()==1

with codecs.open('categories_hierarhy.tsv', 'w', 'utf-8') as f:
    for pair_id in combinations(range(len(categories)), 2):
        pair = [categories[i] for i in pair_id]
        less = check(pair)
        greater = check(pair[::-1])
        if less & greater:
            symb = '='
        elif less:
            symb = '<'
        elif greater:
            symb = '>'
        else:
            symb = '?'
        if symb != '?':
            print (pair[0] + '\t' + symb + '\t' + pair[1])
        f.write(pair[0] + '\t' + symb + '\t' + pair[1] + '\n')

Agencia_ID	<	Town
Agencia_ID	<	State
Producto_ID	=	NombreProducto
Producto_ID	<	brand
Town	<	State
NombreProducto	<	brand

# Какие новые категории есть в тестовых данных

In [15]:
test = pd.read_csv('test_preprocessed.csv',index_col=0)
print(test.shape)
test.head()

(7055802, 16)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town,State,NombreProducto,brand,weight,pieces,Has_choco,Has_vanilla,Has_multigrano,NombreCliente
id,,,,,,,,,,,,,,,,
0,11,4037,1,2209,4639078,35305,2499 REYNOSA MARINELA,TAMAULIPAS,Barritas Fresa 75g Prom MTB MLA 35305,MTB MLA,75.0,NaN,0,0,0,NaN
1,11,2237,1,1226,4705135,1238,2402 TUXTLA,CHIAPAS,Panquecito Gota Choc 2p 140g BIM 1238,BIM,140.0,2.0,0,0,0,NaN
2,10,2045,1,2831,4549769,32940,2163 LA PIEDAD,MICHOACAN,Principe Choc Bco 10p 110g Prom MTB MLA 32940,MTB MLA,110.0,10.0,0,0,0,NaN
3,11,1227,1,4448,4717855,43066,2066 TOLUCA PONIENTE,ESTADO DE MEXICO,Pay Pina 1p 85g MTB MLA 43066,MTB MLA,85.0,1.0,0,0,0,NaN
4,11,1219,1,1130,966351,1277,2042 AG. TEPOZOTLAN,ESTADO DE MEXICO,Nito Edicion Especial 62g BIM 1277,BIM,62.0,NaN,0,0,0,LOS PINITOS

In [22]:
categories = [u'Semana', u'Agencia_ID', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Producto_ID']

categories_dict = {}

for c in categories:
    categories_dict[c] = set([str(int(x)) for x in test[c].unique()])
    
c, list(categories_dict[c])[:5]

(u'Producto_ID', ['35785', '35783', '43279', '160', '43274'])

In [26]:
import codecs
import datetime
start_time = datetime.datetime.now()
with codecs.open(pts.working_dir() + "train.csv", 'r', 'utf-8') as f:
    column_names = f.readline()[:-1].split(',')
    assert column_names[:len(categories)] == categories
    for i, line in enumerate(f):
        if i % 1000000 == 0:
            print (i, 'lines read, time:', datetime.datetime.now() - start_time)

        fields = line[:-1].split(',')
        # values only in test df will remain
        for j, c in enumerate(categories):
            categories_dict[c].discard(fields[j])

0 lines read, time: 0:00:00.000577
1000000 lines read, time: 0:00:10.143023
2000000 lines read, time: 0:00:20.092809
3000000 lines read, time: 0:00:30.514029
4000000 lines read, time: 0:00:40.444124
5000000 lines read, time: 0:00:50.466956
6000000 lines read, time: 0:01:00.335480
7000000 lines read, time: 0:01:10.205054
8000000 lines read, time: 0:01:20.090219
9000000 lines read, time: 0:01:29.922530
10000000 lines read, time: 0:01:39.808041
11000000 lines read, time: 0:01:49.777754
12000000 lines read, time: 0:01:59.780130
13000000 lines read, time: 0:02:09.579870
14000000 lines read, time: 0:02:19.393488
15000000 lines read, time: 0:02:29.247434
16000000 lines read, time: 0:02:40.333787
17000000 lines read, time: 0:02:51.082239
18000000 lines read, time: 0:03:01.714025
19000000 lines read, time: 0:03:12.433305
20000000 lines read, time: 0:03:22.746731
21000000 lines read, time: 0:03:35.051113
22000000 lines read, time: 0:03:45.804103
23000000 lines read, time: 0:03:56.091649
24000000 lines read, time: 0:04:06.052505
25000000 lines read, time: 0:04:15.925291
26000000 lines read, time: 0:04:25.715007
27000000 lines read, time: 0:04:36.096189
28000000 lines read, time: 0:04:46.799012
29000000 lines read, time: 0:04:57.319035
30000000 lines read, time: 0:05:07.671739
31000000 lines read, time: 0:05:17.823057
32000000 lines read, time: 0:05:28.173547
33000000 lines read, time: 0:05:38.350639
34000000 lines read, time: 0:05:48.725059
35000000 lines read, time: 0:05:59.198416
36000000 lines read, time: 0:06:09.580081
37000000 lines read, time: 0:06:19.966678
38000000 lines read, time: 0:06:30.305072
39000000 lines read, time: 0:06:40.863353
40000000 lines read, time: 0:06:51.079121
41000000 lines read, time: 0:07:02.170584
42000000 lines read, time: 0:07:12.677471
43000000 lines read, time: 0:07:23.478469
44000000 lines read, time: 0:07:33.541283
45000000 lines read, time: 0:07:43.687541
46000000 lines read, time: 0:07:53.546281
47000000 lines read, time: 0:08:03.576296
48000000 lines read, time: 0:08:13.642245
49000000 lines read, time: 0:08:23.504903
50000000 lines read, time: 0:08:34.034428
51000000 lines read, time: 0:08:44.685555
52000000 lines read, time: 0:08:55.908846
53000000 lines read, time: 0:09:07.206613
54000000 lines read, time: 0:09:18.239424
55000000 lines read, time: 0:09:28.771812
56000000 lines read, time: 0:09:39.328630
57000000 lines read, time: 0:09:49.416042
58000000 lines read, time: 0:09:59.656454
59000000 lines read, time: 0:10:09.954788
60000000 lines read, time: 0:10:19.984986
61000000 lines read, time: 0:10:30.203191
62000000 lines read, time: 0:10:40.485817
63000000 lines read, time: 0:10:50.794129
64000000 lines read, time: 0:11:01.803226
65000000 lines read, time: 0:11:11.963621
66000000 lines read, time: 0:11:23.058199
67000000 lines read, time: 0:11:33.330516
68000000 lines read, time: 0:11:44.717263
69000000 lines read, time: 0:11:55.614025
70000000 lines read, time: 0:12:06.244816
71000000 lines read, time: 0:12:16.516661
72000000 lines read, time: 0:12:26.747304
73000000 lines read, time: 0:12:36.982300
74000000 lines read, time: 0:12:47.437727

In [27]:
for c in categories:
    print(c, len(categories_dict[c]))

Semana 2
Agencia_ID 0
Canal_ID 0
Ruta_SAK 17
Cliente_ID 9663
Producto_ID 34